// =======main colors=======

$pink: #FE3796;
$Gradient: ('pink': #FE6AB7, 'blue': #3931F9);
$black: #121212;
$white: white;
$grey: #777E90;
$grayishBg: #F5F7FA;


// =======utility colors=======

$green: #52D377;
$yellow: #FA9A2A;
$red: #EE3232;

// =======Blacks=======

$black-bg: #121212;
$black1: #1C1D21;
$black2: #1B1B1B;
$blackGradient: ('firstclr': #3B3E40, 'seccondclr': #101212);

// Text Colors 

$textPink: #FC1994;
$textViolet: #9747FF;
$textMagenta: #CB37FF;
$textGray: #A39DA4;
$darkBlue: #131740;


//button colors

$veryPinkBtn: #E12D8C;
